/* RESET DASAR */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* HEADER */
header {
    background-color: #7de480;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

/* NAVBAR */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: #4CAF50;
    border-radius: 4px;
}

/* SECTION UMUM */
.section {
    background-color: #fff;
    padding: 30px 0;   /* JARAK SUDAH DIPERKECIL */
}

/* TENTANG KAMI */
#tentang p {
    margin-bottom: 8px;
}

#tentang img {
    display: block;
    margin: 8px auto 5px;
    width: 50%;
    max-width: 350px;
    border-radius: 8px;
}

/* LAYANAN */
#layanan {
    padding-top: 20px;
}
/* LAYANAN */
#Produk {
    padding-top: 20px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 25px;
}

.service {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.service img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
}

.service h3 {
    margin: 8px 0;
    color: #2e7d32;
    font-size: 18px;
}

.service p {
    font-size: 14px;
    color: #555;
}


/* FORM */
form {
    max-width: 450px;
    margin: auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    #tentang img {
        width: 90%;
    }

    .service {
        width: 90%;
    }
}


.wa-btn {
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.wa-btn:hover {
    background-color: #1ebe5d;
    transform: scale(1.03);
}
